body {
    margin: 0;
    padding: 0;
}
.page {
    width: 100vw;
}
.logo {
    width: 50px;
    height: 50px;
}
.header__title {
    margin-top: 30px;
    padding-left: 10px;
    font-size: 11px;
}
.header__subtitle {
    padding-left: 10px;
}
.title__wrapper {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.unstyled-button {
    border: none;
    background: white;
    margin-bottom: 5px;
}

.select__item {
    border-right: 1px solid blue;
}
.list-group-item {
    display: grid;
    grid-template-columns: 0.5fr 1fr 6fr 2fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;

}
.items__number {
   background-color: white;
   width: 40px;
   height: 40px;
   color: blue;
   font-size: 25px;
   text-align: center;
}
.main__numbers {
    margin: 20px 40px;
}
.list-item {
    list-style: none;
}
.list-group-item:first-child {
    border-top: 1px solid blue;
}
.list-group-item:nth-child(2n) {
    background-color: rgb(232, 231, 231);
}

.product__name {
    margin-bottom: 0;
    font-size: 14px;
}
.brand__name {
    font-size: 12px;
    color: rgb(179, 178, 178);
}
.quantity__needed {
    font-size: 12px;
}
.items__number__selected {
    font-size: 16px;
}
.items__selected {
    font-size: 14px;
}
.subtotal__title, .shipping__title, .total__title {
    font-size: 16px;
}
.subtotal__ammount, .shipping__cost {
    font-size: 18px;
}
.total__ammount {
    font-size: 22px;
}
.disabled {
    color: lightgrey;
}
.footer {
    width: 100vw;
    border-top: 1px solid lightgray;
    text-align: center;
    padding-top: 10px;
}
@media all and (min-width: 768px){
    .page {
        width: inherit;
        border: 1px solid lightgray;
        margin: 50px 0;
    }
   
    .footer {
        width: 100%;
    }
    .title__wrapper {
        align-items: flex-end;
    }

}